<h1>Dashboard</h1>


<%# 
    Clase:

<%= link_to "Ver pedidos antiguos", {controller: "clients", action: "orders"}, class: "btn" %>
<button class="btn"><%= link_to "Ver pedidos antiguos", {controller: "cliente", action: "pedidos"} %></button><br><br>
<%# <button class="btn">Descargar formulario de pedido</button><br><br> %>
<button class="btn"><%= link_to "Crear nuevo pedido", {controller: "orders", action: "new"} %></button>